.footer {
    height: 13vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: -98px;
    width: 100vw;
}
.footerLinksContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: ivory;

}

.footerLink {
    color: ivory;
}

a {
    margin-right: 15px;
}