.profile {
  height: 95vh;
  padding: 20px;
  margin-bottom: 10rem;
}

.main-header {
  border-radius: 40px;
  background-color: rgba(217, 216, 246, 0.486);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.sneakerContainer {
  /* border: 1px solid blue; */
  height: 50vh;
  overflow: scroll;
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: auto;
  width: min-content;
  scroll-behavior: smooth;
  padding: 10px;
}

.sneaker {
  margin: 5px;
  border: 1px solid rgba(224, 114, 114, 0.185);
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;

}



.removeSneakerButton {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  margin-right: 0px;
}

.flipCardButton {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  margin-right: 0px;
}

.sneaker:hover .removeSneakerButton{
  display: inline;
}

.sneaker:hover .flipCardButton {
  display: inline-block;
}



.isFlipped {
  transform: rotateY( 180deg );
}

.sneaker-back {
  transform: rotateY( 180deg );
  backface-visibility: hidden;

}


.sneaker-front {
    backface-visibility: hidden;

}
 


.tab {
  margin-right: 10px;
}






