.sneakerpage {
    height: 95vh;
    padding-top: 30px;
    padding-bottom: 50px;
    overflow: scroll;
    margin: 0 auto;
}

.sneakergrid {
    margin: 5rem auto;
}

.sneakercardcontent {
    display: flex;
    flex-flow: column wrap;
}



.card {
    margin-bottom: 20px;
}

.card-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card-button {
    margin-top: 1rem;
}

.loader {
    border: 16px solid #a04e4e;
    border-radius: 50%;
    border-top: 16px solid #e79067;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    margin: 0 auto;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}